<!DOCTYPE html>
<html>
<!--<html ng-app="myApp" ng-controller="SearchCtrl">-->
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="http://code.angularjs.org/angular-1.0.0.min.js"></script>
    <script src="search.js"></script>
    <script src="build/dist/echarts.js"></script>
    <script src="kLineChart.js"></script>
</head>
<body>
<form class="well form-search" >
<label><font color="white">Search:</font></label>
<input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords...">
<input type="text" ng-model="startTime" class="input-medium search-query" placeholder="startTime...">
<input type="text" ng-model="endTime" class="input-medium search-query" placeholder="endTime...">
<!--<button type="submit" class="btn" ng-click="KlineDataList()">Search</button>-->
</form>
    <div  ng-app="myApp" ng-controller="SearchCtrl">
<div id="context" >
{{kLineResult}}
</div>
<div id="main1" style="height:300px;width:800px;"></div>
<div id="main2"  style="height:250px;width:800px;"></div>
<div id="main3"  style="height:200px;width:800px;"></div>
        </div>
<!--<script src="search.js"></script>-->
<!--<script src="search.js"></script>-->
<!--<script src="build/dist/echarts.js"></script>-->
<!--<script src="kLineChart.js"></script>-->
<!-- ECharts单文件引入 -->

</body>
</html>