.root {
    -fx-font-family: "Microsoft YaHei";
    -fx-font-size: 15.814814814814817px;
    -fx-base: #3E61A8;
    -fx-background: #F4F4F4;
    -fx-focus-color: #0093FF;
    -fx-control-inner-background: #FFFFFF;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,74.0%) 0%, derive(-fx-color,36.400000000000006%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 35.0%) 0%, derive(-fx-color, -6.0%) 100%);
}
.button, .toggle-button, .choice-box {
    -fx-background-radius: 13, 13, 12, 11;
    -fx-padding: 9px 16px 9px 16px;
}
.menu-button {
    -fx-background-radius: 13, 13, 12, 11;
}
.menu-button .label {
    -fx-padding: 9px 24px 9px 16px;
}
.menu-button .arrow-button {
    -fx-padding: 9px 12px 9px 0px;
}
.choice-box {
    -fx-padding: 0 12px 0 0;
}
.choice-box .label {
    -fx-padding: 9px 10px 9px 12px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 14px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 9px 12px 9px 12px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.titlePane{
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,74.0%) 0%, derive(-fx-color,36.400000000000006%) 100%);
	-fx-background-color: rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
		linear-gradient( to bottom, derive(-fx-color, 75.0%) 0%, derive(-fx-color, -15.0%) 100%);
}
.menuPane{
	-fx-background-color: rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #e3e3e3 35%, #eaeaea 65%, #f2f2f2 100%);
}
.bottomPane{
	-fx-background-color: rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #e3e3e3 35%, #eaeaea 65%, #f2f2f2 100%);
	-fx-border-color:grey;
	-fx-border-radius:5;
	-fx-border-width:1;
}
.lightLabel{
	-fx-text-fill: white;
}
.tablePanel{
	-fx-border-color:black;
	-fx-border-radius:5;
	-fx-border-width:2;
}
.background{
	-fx-background-image:url("bg.jpg");
	-fx-background-size:stretch;
}

