.cate_letter{
    float:left;
    color:#000;
    font-weight:500;
    margin-right:10px;
    _margin-right:7px;
    width:30px
}
.category .cate_inner{
    height:22px;
    overflow:hidden
}
.category .visible {
    height: auto;
    overflow: auto;
}
.m_links{
    line-height:22px;padding:10px;
}
.m_links a{
    color:#666;margin-right:8px;white-space:nowrap
}
.m_links a:hover{
    color:#66da90;
}
.m_links .cur{
    color:#66da90;
}
.cate_toggle_wrap{
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
}

.cate_toggle{
    position:relative;
    top:-1px;
    width:120px;
    height:23px;
    line-height:23px;
    padding:0 9px 0 20px;
    margin:0 auto;
    overflow:hidden;
    background-color:#fff;
    background-position:8px 10px;
    border-radius:0 0 5px 5px;
    cursor:pointer;
    border-width:0 1px 1px 1px;
    border-color:#ddd;
    border-style:solid;color:#808080;
    background-color:#f6f6f6;

    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
}
.cate_toggle_up{
    background-position:30px -99px;
    text-indent:22px;
}

.cate_items{
    overflow:hidden;
    *zoom:1
}
