.buttonStyle{

    -fx-text-fill: rgb(70, 89, 23);

    -fx-border-color: rgb(49, 89, 23);

    -fx-border-radius: 5;

    -fx-padding: 3 6 6 6;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}