/*body {*/
    /*background-color: #f3f3f3;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/
.col-md-10 content-wrapper{
    /*background-image: url("http://mammothmedia.tv/admin/wp-content/uploads/2013/07/Water-Background-medium-Gradient.jpg");*/
    background-image: url("http://www.kylethacker.com/img/background-large.jpg");
}

section {
    width: 80%;
    margin: 60px auto;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-image: url("http://mammothmedia.tv/admin/wp-content/uploads/2013/07/Water-Background-medium-Gradient.jpg");*/
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
    height: 700px;
    overflow-y: auto;
}

.chat ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.chat ul li {
    margin: 45px 0 0 0;
    font-weight: 300;
}
.chat ul li a.user {
    margin: -30px 0 0 0;
    display: block;
    color: #333;
}
.chat ul li a.user img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #f3f3f3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.chat ul li .date {
    font-size: 14px;
    color: #a6a6a6;
}
.chat ul li .message {
    display: block;
    padding: 15px;
    position: relative;
    color: #fff;
    font-size: 15px;
    background-color: #2ECC71;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.chat ul li .message:before {
    content: '';
    position: absolute;
    border-top: 16px solid rgba(0, 0, 0, 0.15);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
}
.chat ul li .message:after {
    content: '';
    position: absolute;
    top: 0;
    border-top: 17px solid #2ECC71;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}
.chat ul li .message.blur p {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.chat ul li .message.blur .hider {
    opacity: 1;
    z-index: 1;
}
.chat ul li .message p {
    margin: 0;
    padding: 0;
    transition: all 0.1s;
}
.chat ul li .message .hider {
    opacity: 0;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -10px;
    text-align: center;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.1s;
}
.chat ul li .message .hider span {
    display: block;
    position: relative;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
}
.chat ul li.other a.user {
    float: right;
}
.chat ul li.other .date {
    float: right;
    margin: -20px 10px 0 0;
}
.chat ul li.other .message {
    /*float: right;*/
    margin: 0 90px 0 0;
}
.chat ul li.other .message:before {
    margin: -9px -16px 0 0;
    right: 0;
}
.chat ul li.other .message:after {
    content: '';
    right: 0;
    margin: 0 -15px 0 0;
}
.chat ul li.you a.user {
    float: left;
}
.chat ul li.you .date {
    float: left;
    margin: -20px 0 0 10px;
}
.chat ul li.you .message {
    margin: 0 0 0 90px;
}
.chat ul li.you .message:before {
    margin: -9px 0 0 -16px;
    left: 0;
}
.chat ul li.you .message:after {
    content: '';
    left: 0;
    margin: 0 0 0 -15px;
}

.blue { color: #185875; }
.yellow { color: #9cb70f; }

.mycontainer th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #ffffff;
}

.mycontainer td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.mycontainer {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    color:white;
}

.mycontainer td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
}

/* Background-color of the odd rows */
.mycontainer tr:nth-child(odd) {
    background-color: transparent;
}

/* Background-color of the even rows */
.mycontainer tr:nth-child(even) {
    background-color: transparent;
}

.mycontainer th {
    background-color: transparent;
}

.mycontainer td:first-child { color: #ffffff; }

/*.mycontainer td:last-child {*/
    /*width:150px;*/
/*}*/

.mycontainer tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.mycontainer td:hover {
    background-color: #9cb70f;
    /*color: #403E10;*/
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .mycontainer td:nth-child(4),
    .mycontainer th:nth-child(4) { display: none; }
}

.insertBtn{
    color:white;
    border:none;
    background-color: transparent;
}

.mySpan {
    color:white;
    font-size: 1em;
    text-align: center;
}


.custombutton {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color:#F7F7F7;
    width: 150px;
    height:40px;
    border: 2px solid #F7F7F7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    padding-top: 5px;
    -webkit-transition: .3s;
    transition: .3s;
}
.custombutton:after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #F7F7F7;
}
.custombutton:nth-of-type(2):after {
    left: 0;
}
.custombutton:nth-of-type(3):after {
    right: 0;
    left: auto;
}
.custombutton:hover {
    cursor: pointer;
}
.custombutton:hover:after {
    width: 100%;
    left: 0;
}
#strategyBoard{
    display: none;
}
