.root{
     -fx-background-image: url("background_image.png");
    -fx-height: 600px; 
    -fx-width: 900px;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;   
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-opacity: 1;
}

.table-view:focused .table-row:filled:focused:selected {
    -fx-background-color: -fx-focus-color;  
}

.table-view .scroll-bar:horizontal,.mylistview  .scroll-bar:vertical{
    -fx-background-color: #FFFFFF;
     -fx-opacity: 0.5;
}

.table-cell{ 
    -fx-font-size: 14px; 
}



         
.button-isFavor{
    -fx-background-color: #71C671;
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-alignment: center;
}




