.plus-vert {
  transition: all 1s ease;
  background-color: #95c619;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  cursor: pointer;
  right: 30px;
  bottom: 10%;
}
.plus-vert .menu-creation {
  transition: all 1s ease;
  position: absolute;
  bottom: 50px;
  height: 0px;
  padding: 0;
  opacity: 0;
  width: 300px;
  right: 0;
  font-family: sans-serif;
  padding: 25px;
  cursor: initial;
  overflow: hidden;
}
.plus-vert .menu-creation .list-item {
  transition: all 0.3s ease;
  list-style: none;
  text-align: right;
  padding: 10px 0px 10px 10px;
  color: white;
  cursor: pointer;
}
.plus-vert .menu-creation .list-item .text {
  margin-right: 10px;
}
.plus-vert .menu-creation .list-item .icon {
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #FFF;
  margin-bottom: -10px;
}
.plus-vert .menu-creation .list-item .icon i {
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  text-align: center;
  left: 100%;
  top: 20%;
}
.plus-vert .menu-creation .list-item:hover {
  transition: all 0.3s ease;
  padding-right: 20px;
}
.plus-vert .menu-creation .list-item:hover .icon i {
  transition: all 0.3s ease;
  color: #95c619;
  left: 25%;
}
.plus-vert .inside-blanc {
  overflow: hidden;
  top: 40px;
  left: 40px;
  width: 0px;
  height: 0px;
  position: absolute;
  transition: all 0.6s ease;
}
.plus-vert .cross {
  transition: all 0.6s ease;
  transform: rotate(0deg);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  left: 25px;
}
.plus-vert .cross .bar {
  background-color: white;
  position: absolute;
}
.plus-vert .cross .bar.bar1 {
  width: 6px;
  margin-left: -3px;
  height: 100%;
  top: 0;
  left: 50%;
}
.plus-vert .cross .bar.bar2 {
  width: 100%;
  height: 6px;
  margin-top: -3px;
  top: 50%;
  left: 0;
}
.plus-vert:hover .inside-blanc {
  transition: all 0.6s ease;
  background-color: white;
  width: 80px;
  height: 80px;
  top: 0px;
  left: 0px;
  border-radius: 40px;
}
.plus-vert:hover .cross {
  transition: all 0.6s ease;
  transform: rotate(270deg);
}
.plus-vert:hover .cross .bar {
  transition: all 0.6s ease;
  background-color: #95c619;
}
.plus-vert.quit {
  background-color: white;
}
.plus-vert.quit .menu-creation {
  transition: all 1s ease;
  bottom: 90px;
  height: initial;
  opacity: 1;
}
.plus-vert.quit .cross {
  transition: all 0.3s ease;
  transform: rotate(315deg);
}
.plus-vert.quit .cross .bar {
  transition: all 0.3s ease;
  background-color: #FF2600;
}
.plus-vert-curtain {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  right: 0;
}
.plus-vert-curtain.not-deployed {
  transition: all 0.3s ease;
  width: 0;
  height: 0;
  border-radius: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.plus-vert-curtain.semi-deployed {
  transition: all 0.6s ease;
  width: 0px;
  height: 0px;
  border-radius: 200px;
  margin-bottom: -200px;
  margin-right: -200px;
}
.plus-vert-curtain.full-deployed {
  transition: all 0.8s ease;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

