
.intro-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 40px;
}

.intro-text {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  color: #ffffff;
  /*width: 800px;*/
  margin: 0 auto;
}

.intro-subscribers {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #ebb94a;
  margin-top: 40px;
}



.subscribe-big-button {
  text-align: center;
  /*padding-top: 80px;*/
}

.subscribe-big-button button {
  background: transparent;
  display: inline-block;
  margin-top: 50px;
  padding: 10px 60px 13px 60px;
  border: 5px solid #ffffff;
  color: #ffffff;
  font-size: 28px;
  font-weight: 200;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

/*** Subscribe Modal Window ***/
.md-subscribe-container {
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  background: rgba(78, 75, 81, 0.85);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-subscribe-container.smodal-show {
  opacity: 1;
  visibility: visible;
}

.md-subscribe-container .container {
  top: 50%;
  position: relative;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.md-subscribe {
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.smodal-show .md-subscribe {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.md-subscribe-inner {
  background: url('images/md-bg.png') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #fff;
  padding: 50px 15px 60px 15px;
  /*display: inline-block;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.md-subscribe-inner h1 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4e4b51;
  margin: 0px;
}

.md-subscribe-inner h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ababab;
  margin-top: 15px;
  margin-bottom: 50px;
  letter-spacing: 0.1px;
}

.md-subscribe-inner p {
  color: #ababab;
  margin-bottom: 30px;
}

.md-subscribe-inner input {
  padding: 15px;
  border: none;
  font-size: 18px;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: rgba(242, 98, 70, 0.7);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.md-subscribe-inner input:focus{
  outline: 0;
}

.modal-form div {
  position: relative;
}

.modal-form button {
  top: -80px;
  right: 35px;
}

.subscribe-form button {
  top: -5px;
  right: -40px;
}

.md-subscribe-inner input::-moz-placeholder {
  opacity: 1;
  color: #fff;
  letter-spacing: -1px;
}

.md-subscribe-inner input:-moz-placeholder {
  opacity: 1;
  color: #fff;
  letter-spacing: -1px;
}

.md-subscribe-inner input::-webkit-input-placeholder {
  color: #fff;
  letter-spacing: -1px;
}

.md-subscribe-inner input:-ms-input-placeholder {
  color: #fff;
  letter-spacing: -1px;
}

.md-subscribe-inner input:focus::-moz-placeholder {
  color:transparent;
}

.md-subscribe-inner input:focus:-moz-placeholder {
  color:transparent;
}

.md-subscribe-inner input:focus::-webkit-input-placeholder {
  color:transparent;
}

.md-subscribe-inner input:focus:-ms-input-placeholder {
  color:transparent;
}


.checkbox-custom, .checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label{
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: rebeccapurple;
  color: #fff;
}


.checkbox-custom:focus + .checkbox-custom-label{
  outline: 1px solid #ddd; /* focus style */
}

@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(http://fonts.googleapis.com/css?family=Pacifico);
body {
  font-family: "Lato", Helvetica, Arial;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}

.customer-container {
  width: 350px;
  margin: 50px auto;
}
.customer-container > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.title {
  font-family: 'Pacifico';
  font-weight: norma;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  color: #2980B9;
}

.dropdown a {
  text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
  position: relative;
  display: block;
  color: white;
  background: #2980B9;
  -moz-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  -webkit-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.dropdown [data-toggle="dropdown"]:hover {
  background: #2c89c6;
}
.dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: #fff;
  top: 14px;
  right: 10px;
}
.dropdown .icon-arrow.open {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow:before {
  content: '\25BC';
}
.dropdown .dropdown-menu {
  width:100%;
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown .dropdown-menu li {
  padding: 0;
}
.dropdown .dropdown-menu li a {
  display: block;
  color: #6f6f6f;
  background: #EEE;
  -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
  -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  padding: 10px 10px;
}
.dropdown .dropdown-menu li a:hover {
  background: #f6f6f6;
}
.dropdown .show, .dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}


/*.radioholder {*/
  /*width: 70%;*/
  /*hight:100px;*/
  /*background: #F0F4FF;*/
  /*margin-bottom: 1em;*/
  /*font-size: 1.3em;*/
  /*height: 2.4em;*/
  /*color: #666;*/
  /*-o-transition: .1s ease-out;*/
  /*-ms-transition: .1s ease-out;*/
  /*-moz-transition: .1s ease-out;*/
  /*-webkit-transition: .1s ease-out;*/
  /*transition: .1s ease-out;*/
  /*cursor: pointer;*/
/*}*/


/*.activeradioholder {*/
  /*background: #4485A4;*/
  /*color: #fff;*/
/*}*/

/*.radioholder .desc {*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*padding-left: .6em;*/
  /*line-height: 2.4em;*/
/*}*/

/*.radioholder .tick {*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*width: 2.4em;*/
  /*height: 100%;*/
  /*background-color: #eee;*/
  /*background-image: none;*/
  /*-o-transition: .1s ease-out;*/
  /*-ms-transition: .1s ease-out;*/
  /*-moz-transition: .1s ease-out;*/
  /*-webkit-transition: .1s ease-out;*/
  /*transition: .1s ease-out;*/
/*}*/

/*.activeradioholder .tick {*/
  /*background-color: #2A64A4;*/
  /*background-image: url('http://supereightstudio.com/img/radio_tick.png');*/
  /*background-size: cover;*/
/*}*/

/*.radioholder:nth-child(odd) {*/
  /*float: right;*/
/*}*/

/*.radioholder:nth-child(even) {*/
  /*float: left;*/
/*}*/

/*.radioholder:hover {*/
  /*background-color: #eee;*/
/*}*/

/*.radioholder:hover .tick {*/
  /*background-color: #ddd;*/
/*}*/

/*.activeradioholder:hover {*/
  /*background-color: #4485A4;*/
/*}*/

/*.activeradioholder:hover .tick {*/
  /*background-color: #2A64A4;*/
/*}*/

/*.selectholder {*/
  /*clear: both;*/
  /*width: 60%;*/
  /*background: #eee;*/
  /*margin-bottom: 1em;*/
  /*font-size: 0.6em;*/
  /*height: 1.0em;*/
  /*color: #666;*/
  /*-o-transition: .1s ease-out;*/
  /*-ms-transition: .1s ease-out;*/
  /*-moz-transition: .1s ease-out;*/
  /*-webkit-transition: .1s ease-out;*/
  /*transition: .1s ease-out;*/
  /*cursor: pointer;*/
/*}*/

/*.selectholder .desc {*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*padding-left: .8em;*/
  /*line-height: 2.4em;*/
/*}*/

/*.selectholder .pulldown {*/
  /*float: right;*/
  /*vertical-align: middle;*/
  /*width: 2.4em;*/
  /*height: 100%;*/
  /*background-color: #ddd;*/
  /*background-image: url('http://supereightstudio.com/img/pulldown.png');*/
  /*background-size: cover;*/
  /*-o-transition: .1s ease-out;*/
  /*-ms-transition: .1s ease-out;*/
  /*-moz-transition: .1s ease-out;*/
  /*-webkit-transition: .1s ease-out;*/
  /*transition: .1s ease-out;*/
/*}*/

/*.selectholder:hover,*/
/*.activeselectholder {*/
  /*background-color: #ddd;*/
/*}*/

/*.selectholder:hover .pulldown,*/
/*.activeselectholder .pulldown {*/
  /*background-color: #333;*/
  /*background-image: url('http://supereightstudio.com/img/pulldown_hover.png');*/
/*}*/

/*.selectholder .selectdropdown {*/
  /*position: relative;*/
  /*top: 0;*/
  /*left: 0;*/
  /*background: #333;*/
  /*color: #fff;*/
  /*display: none;*/
  /*clear: both;*/
/*}*/

/*.selectholder .selectdropdown span {*/
  /*display: block;*/
  /*border-bottom: solid 1px #555;*/
  /*padding-left: .8em;*/
  /*line-height: 2.4em;*/
  /*width: 100%;*/
  /*-o-transition: background-color .1s ease-out;*/
  /*-ms-transition: background-color .1s ease-out;*/
  /*-moz-transition: background-color .1s ease-out;*/
  /*-webkit-transition: background-color .1s ease-out;*/
  /*transition: background-color .1s ease-out;*/
/*}*/

/*.selectholder .selectdropdown span:last-child {*/
  /*border-bottom: none;*/
/*}*/

/*.selectholder .selectdropdown span.active {*/
  /*background-color: #2A64A4;*/
  /*background-image: url('http://supereightstudio.com/img/radio_tick.png');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 1.6em 1.6em;*/
  /*background-position: 98% 50%;*/
/*}*/

/*.selectholder .selectdropdown span:hover {*/
  /*background-color: #555;*/
/*}*/

/*.shadow-blur { color:transparent; text-shadow:0 0 7px #555, 0 0 10px #000; }*/


.icon {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
}
.icon:before, .icon:after {
  content: "";
  position: absolute;
}

.dropp {
  width: 100%;
  /*box-shadow: 0 1px 3px #0b0b0b;*/
}

.dropp-header {
  background: #B7B7B7;
  color: #fff;
  border-bottom: 2px solid #1c1c1c;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  height:50px;
}

.dropp-header__title {
  display: block;
  padding: 0.8em 0.5em;
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  box-flex: 8;
  -webkit-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.dropp-header__btn {
  display: block;
  background: #1c1c1c;
  color: #fff;
  padding: 0.8em 0.5em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dropp-header__btn .icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.dropp-header__btn .icon:before, .dropp-header__btn .icon:after {
  top: 30%;
  left: 25%;
  width: 50%;
  height: 15%;
  background: #FFFFFF;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.dropp-header__btn .icon:after {
  top: 55%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dropp-header__btn.js-open {
  background: #1c1c1c;
}
.dropp-header__btn.js-open .icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dropp-header__btn.js-open .icon:before, .dropp-header__btn.js-open .icon:after {
  background: #fff;
}
.dropp-header__btn:focus {
  outline: none;
}

.dropp-body {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  background: #292929;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dropp-body.js-open {
  max-height: 20em;
}
.dropp-body label {
  display: block;
  font-size: 0.875em;
  color: #fff;
  text-decoration: none;
  padding: 1em 0.5em;
  font-weight: 400;
  box-shadow: 0 -1px 0 #171717, inset 0 1px 0 #313131;
  cursor: pointer;
}
.dropp-body label:first-child {
  box-shadow: none;
}
.dropp-body label:hover, .dropp-body label.js-open {
  background: #B7B7B7;
}
.dropp-body label > input {
  display: none;
}


.search {width: 80%;height: 40px;margin: 150px auto;background: #444;background: rgba(0,0,0,.2);border-radius:  3px;border: 1px solid #fff;}

.search input {width: 60%;padding: 10px 5px;float: left;border: 0;background: transparent;border-radius: 3px 0 0 3px;}

.search input:focus {outline: 0;background:transparent;}

.search button {position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 40px;width: 20%;color: #fff;background: transparent;border-left: 1px solid #fff;border-radius: 0 3px 3px 0;}

.search button:hover {background:#444;color:#fff;}
.search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

.search button:focus {outline: 0;}

