/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/
*{
    margin:0;
    padding: 0;
}
.enterBtn {
    width:120px;
    height:50px;  "
vertical-align:middle;
    align:center;
    line-height:18px;
    font-size:18px;
    color:#9FAFD1;
    padding-bottom:4px;
}