/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/
*{
    margin:0;
    padding: 0;
}
/*--------------------- start main_header ---------------------*/
#canvas {
    width: 100%;
    height: 1024px;
    /* Fallback for browsers that don't support the calc() function*/
    height: -moz-calc(100vh);
    height: calc(100vh);
    min-height: 800px;
}
#canvas #main_header_content {
       top: 40%;
       left: 50%;
       position: absolute;
       transform: translate(-50%, -50%);
       text-align: center;
}

#canvas #main_header_text {
    margin-top: -50px;
    animation: 2s ease 0s normal none 1 running ;
    font-family: DFKai-SB;
    font-size: 50px;
    font-weight: 300;
    color: #FFFFFF;
}
#canvas #main_header_btn {
    margin-top: 20px;
    font-family: DFKai-SB;
    font-size: 21px;
    font-weight: 300;
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgba(255, 255, 225, 0.3);
}

/*--------------------- end main_header ---------------------*/
#footer {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    background:#000;
    opacity:0.6;
    height:80px;
    width:100%
}