h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
}
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
/* demo styles */

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);*/
/*body{*/

  /*background: -webkit-linear-gradient(left, #3A5FCD, #00BFFF);*/
  /*background: linear-gradient(to right, #3A5FCD, #00BFFF);*/

  /*!*background-color: #F8F8FF;*!*/
  /*!*background-image: "img/8.png";*!*/
  /*width: 100%;*/
  /*!*height: 1000px;*!*/
  /*font-size: 10px;*/
  /*color: #fff;*/

  /*font-family: 'Roboto', sans-serif;*/
/*}*/
/*section{*/
  /*margin: 50px;*/
/*}*/
/*.copy-right {*/
  /*text-align: center;*/
  /*color: #a8f6e7;*/
  /*margin: 100px 0 0;*/
  /*font-size: 12px;*/
  /*font-weight: 300;*/
  /*border-top: 1px solid  rgba(255,255,255,0.2);*/
  /*padding: 20px 2%;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*width: 96%;*/

  /*height: 100%;*/

  /*text-shadow: 1px 0 1px rgba(0, 0, 0, 0.4);*/
  /*text-decoration: none;*/
/*}*/
/*.copy-right:visited {*/
  /*color: #a8f6e7;*/
  /*text-decoration: none;*/
/*}*/
/*.copy-right:hover, .copy-right:focus, .copy-right:visited:hover, .copy-right:visited:focus {*/
  /*text-decoration: underline;*/
  /*color: #fff;*/
/*}*/

/*!* for custom scrollbar for webkit browser*!*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/**{margin:0px;padding:0px;}*/
/*body{*/
  /*!*background:#b1b1b1;*!*/
  /*margin:0px;*/
  /*padding:0px;*/
  /*font-size:14px;*/
  /*color:#000;*/
/*}*/
/*.tips{width:702px;margin:0 auto;line-height:24px;padding-top:10px;}*/
/*.bredcolor{color:#fff;}*/
