.inline-block {
    display: inline-block; }

a, a:hover, a:active, a:visited {
    color: #333;
    text-decoration: none; }
/*--------------------- code_container ---------------------*/
#code_container {
    width: 93.3%;
    height: 100%;
    margin-left: 6.7%;
    overflow: hidden;
    position: relative; }
#code_container #code_ops {
    width: 100%;
    min-height: 50px;
    padding: 20px 15px 0px 15px; }
#code_container #code_ops #algo_title {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #333333 0%, #FFFFFF 100%);
    border-image-slice: 2; }
#code_container #code_ops #algo_title span {
    font-size: 16px;
    line-height: 30px;
    min-width: 450px;
    margin-left: 5px; }
#code_container #code_ops .controls-group {
    margin-right: 15px; }
#code_container #code_ops .controls-group .controls {
    max-width: 100px; }
#code_container #code_ops .controls-group .controls-sm {
    max-width: 70px; }
#code_container #code_ops #run_algo_btn {
    background-color: #E7E7E7; }
#code_container #code_wrapper {
    width: 100%;
    padding: 15px 15px; }
#code_container #code_wrapper #code_area {
    width: 100%;
    height: 576px; }
#code_container #code_wrapper #code_area #editor {
    width: 100%;
    height: 100%; }
#code_container #code_wrapper #result_area {
    margin: 40px 10px 20px; }

/*--------------------- end code_container ---------------------*/