/*--------------------- start vars ---------------------*/
/*--------------------- end vars ---------------------*/
#main {
    margin-top: 50px; }

#footer {
    display: none; }

/*--------------------- start lab_container ---------------------*/
#lab_container {
    width: 100%;
    height: 100%; }
#lab_container .nav-sidebar {
    width: 6.7%;
    height: 100%;
    position: fixed;
    /*border: 1px solid #CCC;*/
    padding-top: 40px; }
#lab_container .nav-sidebar .nav-sidebar-item span {
    display: block;
    text-align: center; }
#lab_container .nav-sidebar a, #lab_container .nav-sidebar a:hover, #lab_container .nav-sidebar a:visited, #lab_container .nav-sidebar a:active {
    color: #9cb70f; }
#lab_container .nav-sidebar #share {
    width: 60px;
    height: 60px;
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 100;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #CC3333;
    border: 1px solid #CC3333;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.4);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
#lab_container .nav-sidebar .share_form_div {
    width: 300px;
    height: 300px; }
#lab_container #code_container {
    width: 93.3%;
    height: 100%;
    margin-left: 6.7%;
    overflow: hidden;
    position: relative; }
#lab_container #code_container #code_ops {
    width: 100%;
    min-height: 50px;
    padding: 20px 15px 0px 15px; }
#lab_container #code_container #code_ops #algo_title {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #333333 0%, #FFFFFF 100%);
    border-image-slice: 2; }
#lab_container #code_container #code_ops #algo_title span {
    font-size: 16px;
    line-height: 30px;
    min-width: 450px;
    margin-left: 5px; }
#lab_container #code_container #code_ops .controls-group {
    margin-right: 15px; }
#lab_container #code_container #code_ops .controls-group .controls {
    max-width: 100px; }
#lab_container #code_container #code_ops .controls-group .controls-sm {
    max-width: 70px; }
#lab_container #code_container #code_ops #run_algo_btn {
    background-color: #E7E7E7; }
#lab_container #code_container #code_wrapper {
    width: 100%;
    padding: 15px 15px; }
#lab_container #code_container #code_wrapper #code_area {
    width: 100%;
    height: 576px; }
#lab_container #code_container #code_wrapper #code_area #editor {
    width: 100%;
    height: 100%; }
#lab_container #code_container #code_wrapper #result_area {
    margin: 40px 10px 20px; }

/*--------------------- end lab_container ---------------------*/