.chart{
	-fx-clockwise:false
	-fx-pie-label-visible:true;
	-fx-label-line-length:5;
	-fx-start-angle:90;
}

.default-color0.chart-pie{
	-fx-pie-color: #ff303e;
}

.default-color1.chart-pie{
	-fx-pie-color: #0bb58a;
}

.default-color2.chart-pie{
	-fx-pie-color: #e2e4e3;
}
