/*
* Glowing Buttons
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
/*
* Glow animation mixin for Compass users
*
*/
/*
* Glowing Keyframes
*
*/
@-webkit-keyframes glowing {
  from {
    -webkit-box-shadow: 0 0 0 rgba(44, 154, 219, 0.3);
            box-shadow: 0 0 0 rgba(44, 154, 219, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(44, 154, 219, 0.8);
            box-shadow: 0 0 20px rgba(44, 154, 219, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(44, 154, 219, 0.3);
            box-shadow: 0 0 0 rgba(44, 154, 219, 0.3); } }
@keyframes glowing {
  from {
    -webkit-box-shadow: 0 0 0 rgba(44, 154, 219, 0.3);
            box-shadow: 0 0 0 rgba(44, 154, 219, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(44, 154, 219, 0.8);
            box-shadow: 0 0 20px rgba(44, 154, 219, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(44, 154, 219, 0.3);
            box-shadow: 0 0 0 rgba(44, 154, 219, 0.3); } }
/*
* Glowing Keyframes for various colors
*
*/
@-webkit-keyframes glowing-primary {
  from {
    -webkit-box-shadow: 0 0 0 rgba(27, 154, 247, 0.3);
            box-shadow: 0 0 0 rgba(27, 154, 247, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(27, 154, 247, 0.8);
            box-shadow: 0 0 20px rgba(27, 154, 247, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(27, 154, 247, 0.3);
            box-shadow: 0 0 0 rgba(27, 154, 247, 0.3); } }
@keyframes glowing-primary {
  from {
    -webkit-box-shadow: 0 0 0 rgba(27, 154, 247, 0.3);
            box-shadow: 0 0 0 rgba(27, 154, 247, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(27, 154, 247, 0.8);
            box-shadow: 0 0 20px rgba(27, 154, 247, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(27, 154, 247, 0.3);
            box-shadow: 0 0 0 rgba(27, 154, 247, 0.3); } }
@-webkit-keyframes glowing-plain {
  from {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); } }
@keyframes glowing-plain {
  from {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); } }
@-webkit-keyframes glowing-inverse {
  from {
    -webkit-box-shadow: 0 0 0 rgba(34, 34, 34, 0.3);
            box-shadow: 0 0 0 rgba(34, 34, 34, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(34, 34, 34, 0.8);
            box-shadow: 0 0 20px rgba(34, 34, 34, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(34, 34, 34, 0.3);
            box-shadow: 0 0 0 rgba(34, 34, 34, 0.3); } }
@keyframes glowing-inverse {
  from {
    -webkit-box-shadow: 0 0 0 rgba(34, 34, 34, 0.3);
            box-shadow: 0 0 0 rgba(34, 34, 34, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(34, 34, 34, 0.8);
            box-shadow: 0 0 20px rgba(34, 34, 34, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(34, 34, 34, 0.3);
            box-shadow: 0 0 0 rgba(34, 34, 34, 0.3); } }
@-webkit-keyframes glowing-action {
  from {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
            box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(165, 222, 55, 0.8);
            box-shadow: 0 0 20px rgba(165, 222, 55, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
            box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); } }
@keyframes glowing-action {
  from {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
            box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(165, 222, 55, 0.8);
            box-shadow: 0 0 20px rgba(165, 222, 55, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
            box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); } }
@-webkit-keyframes glowing-highlight {
  from {
    -webkit-box-shadow: 0 0 0 rgba(254, 174, 27, 0.3);
            box-shadow: 0 0 0 rgba(254, 174, 27, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(254, 174, 27, 0.8);
            box-shadow: 0 0 20px rgba(254, 174, 27, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(254, 174, 27, 0.3);
            box-shadow: 0 0 0 rgba(254, 174, 27, 0.3); } }
@keyframes glowing-highlight {
  from {
    -webkit-box-shadow: 0 0 0 rgba(254, 174, 27, 0.3);
            box-shadow: 0 0 0 rgba(254, 174, 27, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(254, 174, 27, 0.8);
            box-shadow: 0 0 20px rgba(254, 174, 27, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(254, 174, 27, 0.3);
            box-shadow: 0 0 0 rgba(254, 174, 27, 0.3); } }
@-webkit-keyframes glowing-caution {
  from {
    -webkit-box-shadow: 0 0 0 rgba(255, 67, 81, 0.3);
            box-shadow: 0 0 0 rgba(255, 67, 81, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(255, 67, 81, 0.8);
            box-shadow: 0 0 20px rgba(255, 67, 81, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(255, 67, 81, 0.3);
            box-shadow: 0 0 0 rgba(255, 67, 81, 0.3); } }
@keyframes glowing-caution {
  from {
    -webkit-box-shadow: 0 0 0 rgba(255, 67, 81, 0.3);
            box-shadow: 0 0 0 rgba(255, 67, 81, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(255, 67, 81, 0.8);
            box-shadow: 0 0 20px rgba(255, 67, 81, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(255, 67, 81, 0.3);
            box-shadow: 0 0 0 rgba(255, 67, 81, 0.3); } }
@-webkit-keyframes glowing-royal {
  from {
    -webkit-box-shadow: 0 0 0 rgba(123, 114, 233, 0.3);
            box-shadow: 0 0 0 rgba(123, 114, 233, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(123, 114, 233, 0.8);
            box-shadow: 0 0 20px rgba(123, 114, 233, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(123, 114, 233, 0.3);
            box-shadow: 0 0 0 rgba(123, 114, 233, 0.3); } }
@keyframes glowing-royal {
  from {
    -webkit-box-shadow: 0 0 0 rgba(123, 114, 233, 0.3);
            box-shadow: 0 0 0 rgba(123, 114, 233, 0.3); }
  50% {
    -webkit-box-shadow: 0 0 20px rgba(123, 114, 233, 0.8);
            box-shadow: 0 0 20px rgba(123, 114, 233, 0.8); }
  to {
    -webkit-box-shadow: 0 0 0 rgba(123, 114, 233, 0.3);
            box-shadow: 0 0 0 rgba(123, 114, 233, 0.3); } }
/*
* Glowing Buttons Base Styes
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
.button-glow {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
          animation-name: glowing; }
  .button-glow:active, .button-glow.active, .button-glow.is-active {
    -webkit-animation-name: none;
            animation-name: none; }

/*
* Glowing Button Colors
*
* Create colors for glowing buttons
*/
.button-glow.button-primary {
  -webkit-animation-name: glowing-primary;
          animation-name: glowing-primary; }
.button-glow.button-plain {
  -webkit-animation-name: glowing-plain;
          animation-name: glowing-plain; }
.button-glow.button-inverse {
  -webkit-animation-name: glowing-inverse;
          animation-name: glowing-inverse; }
.button-glow.button-action {
  -webkit-animation-name: glowing-action;
          animation-name: glowing-action; }
.button-glow.button-highlight {
  -webkit-animation-name: glowing-highlight;
          animation-name: glowing-highlight; }
.button-glow.button-caution {
  -webkit-animation-name: glowing-caution;
          animation-name: glowing-caution; }
.button-glow.button-royal {
  -webkit-animation-name: glowing-royal;
          animation-name: glowing-royal; }