.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 160px;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
}
.button:hover {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .85;
}
.button:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
  opacity: .75;
}

.button.-dark {
  color: #353866;
  border: 2px solid #353866;
  background: transparent;
}

.button.-green {
  color: #FFFFFF;
  background: #3ac569;
}

.button.-blue {
  color: #FFFFFF;
  background: #2b90d9;
}

.button.-salmon {
  color: #FFFFFF;
  background: #ff7473;
}

.button.-sun {
  color: #f15c5c;
  background: #feee7d;
}

.button.-alge {
  color: #f4f7f7;
  background: #79a8a9;
}

.button.-flower {
  color: #FE8CDF;
  background: #353866;
}

.button.-border {
  color: #2A64A4;
  border: 2px solid #2A64A4;
  background: transparent;
}
.button.-border:hover, .button.-border.-active {
  color: #FFFFFF;
  border-color: #2A64A4;
  background: #2A64A4;
}